.tab-panel{
    display: none;
}
*{
    color: #0d6efd;
}
input::placeholder{
    padding: 15px;
    color: #0d6efd!important;
}
.main-content{
    width: 90%;
    margin: auto;
    height: auto;
}
.main-content{
    width: 90%;
    margin: auto;
    height: auto;
}
.progress{
    height: 5px;
}
.dropdown-toggle:after{
    display: none;
}
