*, input::placeholder{
    color: black !important;
}
.btn-primary{
    background: black !important;
    color: white!important;
    border-color: black!important;
}
.bg-primary{
    background: black!important;
}
.border-primary{
    border-color: black !important;
}
.btn-outline-primary{
    border-color: black !important;
}
.nav-link.active{
    background-color: rgba(0,0,0,0.1)!important;
}
.btn-check:checked + .btn-outline-primary{
    background-color: #1b1b1b!important;
    color: white !important;
}
.btn-outline-primary:hover{
    background-color: #1b1b1b !important;
    color: white!important;
}

.selected-item{
    background-color: rgba(0, 0, 0, 0.1) !important;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
