.selected{
    background: rgba(13, 110, 253, 0.5);

}

.info-panel{
    grid-template-columns: repeat(3,1fr); grid-gap: 3px;
}
.skill-panel{
    grid-template-columns: repeat(2,1fr); grid-gap: 3px;
}
.friend-panel{
    grid-template-columns: repeat(6,1fr);grid-gap: 4px;
}
.talent-panel{
    grid-template-columns: repeat(4,1fr);grid-gap: 4px;
}
.collection-panel{
    grid-template-columns: repeat(5,1fr);grid-gap: 4px;
}
.inventory-panel{
    grid-template-columns: repeat(8,1fr);grid-gap: 4px;
}
.inventory-item{
    width: 105px;
    height: 105px;
    text-align: center;
}
.model-size{
    width: 800px;
    height: 400px
}
@media screen and (max-width: 1000px){
    .main{
        flex-direction: column;
    }
    .main-left, .main-right{
        width: 100%!important;
        margin: 0!important;
    }
    .info-panel{
        grid-template-columns: repeat(1,1fr);
    }
    .skill-panel{
        grid-template-columns: repeat(1,1fr);
    }
    .top-panel{
        flex-direction: column;
    }
    .achievement-panel{
        overflow-x: auto;
    }

    .collection-panel{
        overflow-x: auto;
    }
    .friend-panel{
        grid-template-columns: repeat(1,1fr);
    }
    .talent-panel{
        grid-template-columns: repeat(1,1fr);
    }
    .collection-tab{
        flex-direction: column;
    }
    .collection-nav{
        flex-direction: row!important;
    }
    .collection-panel{
        grid-template-columns: repeat(1,1fr);
    }
    .inventory-panel{
        width: 100%; !important;
        grid-gap: 1px;
    }
    /*#inventory{*/
    /*    display: none;*/
    /*}*/
    .inventory-item{
        width: 40px;
        height: 40px;
        text-align: center;
    }
    .inventory-parent{
        flex-direction: column-reverse;
    }
    .inventory-selector{
        margin: 10px 5px !important;
    }
    .mobile-lock{
        pointer-events: none;
        color: gray;
    }
    .model-size{
        width: 300px;
        height: 500px
    }

}
