.objects-panel{
    grid-template-columns: repeat(4,1fr);grid-gap: 8px;
}
.subcategories-panel{
    grid-gap: 8px;
}
.main{
     display: flex;
     flex-direction: row;

 }
.model-size{
    width: 100%;
    height: 400px
}
.content{
    width: 600px;
}
.search-modal{
    z-index: 1; /* Sit on top */
    left: 0;
    top: 165px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}
@media screen and (max-width: 1000px){
    .objects-panel{
        grid-template-columns: repeat(1,1fr);
    }
    .subcategories-panel{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .main{
        display: flex;
        flex-direction: column-reverse;

    }
    .content{
        width: auto;
    }
}
