.tab-panel{
    display: none;
}
*{
    /*font-family:  var(--bs-font-monospace);*/
    color: #0d6efd;
}
.selected-item{
    background-color: rgba(13, 110, 253, 0.1) !important;
}
.alert li{
    color: initial !important;
}
ul{
    list-style-type: none;
}
.mobile-panel{
    display: none!important;
}
.pc-panel{
    display: flex!important;
}
input::placeholder{
    padding: 15px;
    color: #0d6efd!important;
}
font{
    color: inherit;
}
.main-content{
    width: 90%;
    margin: auto;
    height: auto;
}
.main-content{
    width: 90%;
    margin: auto;
    height: auto;
}
.progress{
    height: 5px;
}
.dropdown-toggle:after{
    display: none;
}

.user-panel-left{
    width: 400px;
}
.user-panel-crutch{
    margin-left: -385px;
    margin-top: 0;
}
.pc-panel{
    display: block;
}
@media screen and (max-width: 1000px) {
    .user-panel-crutch{
        margin-left: 0;
        margin-top: 0;
    }
    .user-panel{
        flex-direction: column;
    }
    .user-panel-left{
        width: auto;
    }
    .user-panel-nav{
        width: auto;
        margin-left: 0 !important;
        margin-top:10px;
    }
    .pc-panel{
        display: none!important;
    }
    .mobile-panel{
        display: flex!important;
    }
    .authorization-panel{
        padding-top: 50px;
        width: 100%!important;
    }
    .pc-panel{
        display: none;
    }
}
