.goog-te-banner-frame{
    display: none;
}

#goog-gt-tt {
    display: none !important;
}
#goog-gt-tt:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.goog-te-combo, .goog-te-combo:focus{
    background: none;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
}
@media screen and (min-width: 1000px) {
    .goog-te-combo:hover {
        color: black;
    }
}
